/*
* General
*/

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: white;
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  -webkit-perspective: 1500px;
}


/*
* Image Preview
*/

#image-preview {
  position: absolute;
  top: 0;
  bottom: 150px;
  left: 0;
  right: 0;
  background: #eee;
}

#camera-icon img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}


/*
* Filters
*/

#filter-area {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 150px;
}

ul.filters {
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

ul.filters li {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  -webkit-transform-origin: 0 0;
  display: block;
  margin: 10px;
}

ul.filters li.selected {
  border: 2px solid blue;
}

ul.filters li canvas {
  width: 80px;
  height: 80px;
  margin-bottom: 5px;
  background: blue;
}

ul.filters li .caption {
  font-size: 13px;
  text-transform: uppercase;
}
